  <div class="content-wrapper" style="min-height: 946px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Upload  New Gallery Image
      </h1>
      <!-- <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
      </ol> -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-danger box-top-border">
            <div class="box-body">
            <form ng-submit="uploadPic(picFile)" name="userForm">


              <div class="row row-sides"> <!-- row start -->

                <div class="col-xs-12 col-lg-4">
                  <div class="form-group">
                    <label>Select  Image</label>
                     <input type="file" ngf-select ng-model="picFile"
                            name="file" accept="image/*"
                             ngf-model-invalid="errorFile">
                  </div>
                </div>

              </div> <!-- row end -->



              <div class="row row-sides"> <!-- row start -->
                <button type="submit" class="btn btn-primary btn-flat btn-on-app" ng-disabled="userForm.$invalid">Submit</button>
              </div> <!-- row end -->
            </form>
            <!-- form end -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (left) -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>

    