  <div class="content-wrapper" style="min-height: 946px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Create Stock
      </h1>
      <!-- <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
      </ol> -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-danger box-top-border">
            <div class="box-body">
            <form ng-submit="createStock()" name="userForm">
              <div class="row row-sides"> <!-- row start -->
                <div class="col-xs-12 col-lg-4">
                  <div class="form-group">
                    <label>Stock Name(required)</label>
                    <input type="text" class="form-control" placeholder="Stock Name" ng-model="stock.stock_name" name="stock_name"
                           ng-class="{ 'has-error' : userForm.stock_name.$invalid && !userForm.stock_name.$pristine }" required>
                    <p ng-show="userForm.stock_name.$invalid && !userForm.stock_name.$pristine" class="help-block">Stock name is required.</p>
                  </div>
                </div>
                <div class="col-xs-12 col-lg-4">

                  <div class="form-group">
                    <label>Stock Type(required)</label>


                        <select class="form-control" name="stock_type" ng-model="stock.stock_type"
                                ng-options="temp.name for temp in stockType"
                                ng-class="{ 'has-error' : userForm.stock_type.$invalid && !userForm.stock_type.$pristine }"  required>
                        </select>

                    <!--<input type="text" class="form-control" placeholder="Store Id" ng-model="store.storeid" ng-class="{ 'has-error' : userForm.storeid.$invalid && !userForm.storeid.$pristine }" name="storeid" required>
                    <p ng-show="userForm.storeid.$invalid && !userForm.storeid.$pristine" class="help-block">Store id is required.</p>-->
                  </div>
                </div>

              </div> <!-- row end -->

              <div class="row row-sides"> <!-- row start -->

                 <div class="col-xs-12 col-lg-4">
                  <div class="form-group">
                    <label>Batch Number</label>
                    <input type="text" class="form-control" placeholder="Enter Batch Number" ng-model="stock.batch_number"
                           name="batch_number" ng-class="{ 'has-error' : userForm.batch_number.$invalid }">
                    <p ng-show="userForm.batch_number.$invalid" class="help-block">Enter Batch Number.</p>
                  </div>
                </div>


                <div class="col-xs-12 col-lg-4">
                  <div class="form-group">
                    <label>Lot Number</label>
                    <input type="text" class="form-control" placeholder="LoT Number" ng-model="stock.lot_number" name="lot_number"
                           ng-class="{ 'has-error' : userForm.lot_number.$invalid && !userForm.lot_number.$pristine }">

                  </div>
                </div>

              </div> <!-- row end -->
              <div class="row row-sides"> <!-- row start -->
                <div class="col-xs-12 col-lg-4">
                  <div class="form-group">
                    <label>Select Quantity Type</label>
                    <select class="form-control" name="quantity" ng-model="stock.quantity" ng-options="quantity.name for quantity in quantityList"
                            ng-class="{ 'has-error' : userForm.quantity.$invalid && !userForm.quantity.$pristine }">
                    </select>
                  </div>
                </div>
                <div class="col-xs-12 col-lg-4">
                  <div class="form-group">
                    <label>Enter Quantity Count</label>
                    <input type="text" class="form-control" placeholder="Quantity Count" ng-model="stock.quantity_count" name="quantity_count"
                           ng-class="{ 'has-error' : userForm.quantity_count.$invalid && !userForm.quantity_count.$pristine }">

                  </div>
                </div>

              </div> <!-- row end -->
              <div class="row row-sides"> <!-- row start -->
                <div class="col-xs-12 col-lg-4">
                  <div class="form-group">
                    <label>Select Rate Type</label>
                    <select class="form-control" name="quantity_rate" ng-model="stock.quantity_rate" ng-options="quantity.name for quantity in quantityRateList"
                            ng-class="{ 'has-error' : userForm.quantity_rate.$invalid && !userForm.quantity_rate.$pristine }">
                    </select>
                  </div>
                </div>
                <div class="col-xs-12 col-lg-4">
                  <div class="form-group">
                    <label>Rate</label>
                    <input type="text" class="form-control" placeholder="Rate " ng-model="stock.rate" name="rate"
                           ng-class="{ 'has-error' : userForm.rate.$invalid && !userForm.rate.$pristine }">

                  </div>
                </div>

              </div> <!-- row end -->
              <div class="row row-sides"> <!-- row start -->

                <div class="col-xs-12 col-lg-4">
                  <div class="form-group">
                    <label>Mfg Date</label><br/>
                    <input type="text" id="datepicker1" class="form-control" placeholder="Manufacture Date " ng-model="stock.mfg_date" name="mfg_date"
                           ng-class="{ 'has-error' : userForm.mfg_date.$invalid && !userForm.mfg_date.$pristine }">

                  </div>
                </div>
                <div class="col-xs-12 col-lg-4">
                  <div class="form-group">
                    <label>Expire Date(required)</label><br/>
                    <input type="text" id="datepicker" class="form-control" placeholder="Expired Date " ng-model="stock.expired_date" name="expired_date"
                           ng-class="{ 'has-error' : userForm.expired_date.$invalid && !userForm.expired_date.$pristine }" required>

                  </div>
                </div>
              </div> <!-- row end -->
              <div class="row row-sides"> <!-- row start -->

                <div class="col-xs-12 col-lg-4">
                  <div class="form-group">
                    <label>Purchase From</label><br/>
                    <input type="text"  class="form-control" placeholder="Purchase From" ng-model="stock.purchase_from" name="purchase_from"
                           ng-class="{ 'has-error' : userForm.purchase_from.$invalid && !userForm.purchase_from.$pristine }">
                  </div>
                </div>
                <div class="col-xs-12 col-lg-4">
                  <div class="form-group">
                      <label>isLegal(required)</label>
                          <select class="form-control" name="isLegal" ng-model="stock.isLegal"
                                  ng-options="temp.name for temp in isLegalProduct"
                                  ng-class="{ 'has-error' : userForm.isLegal.$invalid && !userForm.isLegal.$pristine }"
                                  required>
                          </select>
                    </div>
                </div>

              </div> <!-- row end -->

              <div class="row row-sides"> <!-- row start -->
                <button type="submit" class="btn btn-primary btn-flat btn-on-app" ng-disabled="userForm.$invalid">Submit</button>
              </div> <!-- row end -->
            </form>
            <!-- form end -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (left) -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>

    