<!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="row row-sides"> <!-- row start -->

            <div class="col-xs-12 col-lg-4 col-lg-offset-2">
              <div class="form-group">
                <label>start Date</label><br/>
                <input type="text" id="datepicker_sale_products_reports_1" ng-change="call_date_change()" class="form-control" placeholder="Start Date " ng-model="start_date" name="start_date">

              </div>
            </div>
            <div class="col-xs-12 col-lg-4">
              <div class="form-group">
                <label>End Date</label><br/>
                <input type="text" id="datepicker_sale_products_reports_2" ng-change="call_date_change()" class="form-control" placeholder="End Date " ng-model="end_date" name="end_date">

              </div>
            </div>
            <!--<div class="col-xs-12 col-lg-4">
              <div class="form-group">
                <label>Select Stock Name</label><br/>
                <select id="select_farmer"
                       ng-change="selected_farmer()"
                       class="form-control"
                        ng-model="selected_stock_object"
                       ng-options="stock.id as stock.name for stock in stock_names"
                       name="select_farmer">
                </select>

              </div>
            </div>-->
        </div> <!-- row end -->

        <div class="row row-sides text-center">
          <div class="col-xs-3 col-lg-offset-4">

              <div >
                <!--<label>Select Stock Name</label><br/>
                <select id="select_farmer"
                       ng-change="selected_farmer()"
                       class="form-control"
                        ng-model="selected_stock_object"
                       ng-options="stock.id as stock.name for stock in stock_names"
                       name="select_farmer">
                </select>-->
                   <label >Select Customer Name</label>
                  <div isteven-multi-select
                      input-model="stock_names"
                      output-model="selected_stock_object"
                      button-label="name"
                      on-item-click="selected_farmer()"
                      item-label="name"  selection-mode="single"
                      tick-property="ticked" class="input-drop">
                  </div>

              </div>
            </div>
        </div>

        <section class="content-header text-center">
          <h1>
            Stock Name: [[stock_name]]&nbsp;&nbsp;&nbsp;
            Remain Stock: [[remain]]

          </h1>
        </section>

        <section class="content-header">
          <h1>
            Debit
            <a href="#/download-append-reports" target="_blank">
              Download
            </a>
          </h1>
        </section>



        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-body">
                  <div class="table-responsive-own">
                  <table id="example1_modify_stock" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>date</th>
                        <!--<th>stock name</th>-->
                        <th>quantity</th>
                        <!--<th>Total Stock</th>
                        -->
                        <th>remarks</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat = "temp in data">

                        <td>[[temp.create_date | date]] </td>
                        <!--<td>[[temp.stock_name]] </td>-->
                        <td> [[temp.append_count]]</td>
                        <!--<td> [[temp.total_stock]]</td>-->
                        <td>[[temp.remarks]]</td>


                      </tr>
                    </tbody>
                  </table>



                  </div>



                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
        <!--<section class="content-header">
          <h1>
            Remaining Stock Report
            <a href="#/download-remain-stock-reports" target="_blank">
              Download
            </a>
          </h1>
        </section>

-->

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-body">
                  <div class="table-responsive-own">
                  <table id="example1_modify_stock1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>stock name</th>
                        <!--<th>stock name</th>-->
                        <th>remaining count</th>
                        <!--<th>Total Stock</th>
                        -->
                        <!--<th>remarks</th>-->

                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat = "temp in remaining_all_stock">

                        <!--<td>[[temp.create_date | date]] </td>
                        --><!--<td>[[temp.stock_name]] </td>-->
                        <td> [[temp.stock_name]]</td>
                        <!--<td> [[temp.total_stock]]</td>-->
                        <td>[[temp.available_stock]]</td>


                      </tr>
                    </tbody>
                  </table>



                  </div>



                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->

                <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-body">
                  <div class="table-responsive-own">
                  <table id="example1_modify_stock2" class="table table-bordered table-striped">
                    <thead>
                      <!--<tr>
                        <th>Description</th>
                        &lt;!&ndash;<th>stock name</th>&ndash;&gt;
                        <th>Quantity</th>
                        &lt;!&ndash;<th>Total Stock</th>
                        &ndash;&gt;
                        &lt;!&ndash;<th>remarks</th>&ndash;&gt;

                      </tr>-->
                    </thead>
                    <tbody>
                      <tr>

                        <!--<td>[[temp.create_date | date]] </td>
                        --><!--<td>[[temp.stock_name]] </td>-->
                        <td> Manufacture Stock Quantity</td>
                        <!--<td> [[temp.total_stock]]</td>-->
                        <td>Purchased Stock Quantity</td>
                        <td>Sold Stock Quantity</td>


                      </tr>
                     <tr>

                        <!--<td>[[temp.create_date | date]] </td>
                        --><!--<td>[[temp.stock_name]] </td>-->
                        <td> [[sum_of_manufacture_stock]]</td>
                       <td> [[sum_of_sold_farmer_stock]]</td>
                        <!--<td> [[temp.total_stock]]</td>-->
                        <td>[[sum_of_sold_customer_stock]]</td>


                      </tr>
                    </tbody>
                  </table>



                  </div>



                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->


      </div><!-- /.content-wrapper -->
