  <div class="content-wrapper" style="min-height: 946px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Create Loyalty Offer
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-danger box-top-border">
            <div class="box-body">
            <form role="form" ng-submit="createStore()" name="userForm">  
              <div class="row row-sides"> <!-- row start -->
                <div class="col-xs-3">
                </div>
                <div class="col-xs-6">
                  	<div class="form-group">
                      <label>Max stamp count</label>
                      <input type="text" class="form-control" placeholder="max stamp count">
                    </div>
                </div>
                <div class="col-xs-3">
                </div>
              </div> <!-- row end -->
              <div class="row row-sides"> <!-- row start -->
                <div class="col-xs-4">
                  	<div class="form-group">
                      <label>Stamp Number</label>
                      <input type="number" class="form-control" placeholder="Stamp number">
                    </div>
                    <div class="callout callout-info">
			            <h4>description </h4>
			            <p>Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on large screens because it prevents the site from stretching very wide.</p>
		          	</div>
                </div>
				<div class="col-xs-4">
                  	<div class="form-group">
                      <label>Stamp Number</label>
                      <input type="number" class="form-control" placeholder="Stamp number">
                    </div>
                    <div class="callout callout-info">
			            <h4>description </h4>
			            <p>Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on large screens because it prevents the site from stretching very wide.</p>
		          	</div>
                </div>
                <div class="col-xs-4">
                  	<div class="form-group">
                      <label>Stamp Number</label>
                      <input type="number" class="form-control" placeholder="Stamp number">
                    </div>
                    <div class="callout callout-info">
			            <h4>description </h4>
			            <p>Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on large screens because it prevents the site from stretching very wide.</p>
		          	</div>
                </div>
              </div> <!-- row end -->
              <div class="row row-sides"> <!-- row start -->
				<div class="col-xs-4">
                  	<div class="form-group">
                      <label>Stamp Number</label>
                      <input type="number" class="form-control" placeholder="Stamp number">
                    </div>
                    <div class="callout callout-info">
			            <h4>description </h4>
			            <p>Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on large screens because it prevents the site from stretching very wide.</p>
		          	</div>
                </div>
                <div class="col-xs-4">
                  	<div class="form-group">
                      <label>Stamp Number</label>
                      <input type="number" class="form-control" placeholder="Stamp number">
                    </div>
                    <div class="callout callout-info">
			            <h4>description </h4>
			            <p>Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on large screens because it prevents the site from stretching very wide.</p>
		          	</div>
                </div>
                <div class="col-xs-4">
                  	<div class="form-group">
                      <label>Stamp Number</label>
                      <input type="number" class="form-control" placeholder="Stamp number">
                    </div>
                    <div class="callout callout-info">
			            <h4>description </h4>
			            <p>Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on large screens because it prevents the site from stretching very wide.</p>
		          	</div>
                </div>
              </div> <!-- row end -->
              <div class="row row-sides"> <!-- row start -->
                <div class="col-xs-4">
                  	<div class="form-group">
                      <label>Stamp Number</label>
                      <input type="number" class="form-control" placeholder="Stamp number">
                    </div>
                    <div class="callout callout-info">
			            <h4>description </h4>
			            <p>Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on large screens because it prevents the site from stretching very wide.</p>
		          	</div>
                </div>
                <div class="col-xs-4">
                  	<div class="form-group">
                      <label>Stamp Number</label>
                      <input type="number" class="form-control" placeholder="Stamp number">
                    </div>
                    <div class="callout callout-info">
			            <h4>description </h4>
			            <p>Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on large screens because it prevents the site from stretching very wide.</p>
		          	</div>
                </div>
                <div class="col-xs-4">
                  	<div class="form-group">
                      <label>Stamp Number</label>
                      <input type="number" class="form-control" placeholder="Stamp number">
                    </div>
                    <div class="callout callout-info">
			            <h4>description </h4>
			            <p>Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when working on large screens because it prevents the site from stretching very wide.</p>
		          	</div>
                </div>
              </div> <!-- row end -->
            </form>
            <!-- form end -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (left) -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>