<!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            View or Delete Users 
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <form ng-submit="submitRateQuantity()" name="userForm">
            <div class="row">
              <div class="col-xs-12">
                <div class="box">
                  <div class="box-body">
                    <div class="table-responsive-own">
                    <table id="example1" class="table table-bordered table-striped table-responsive-own">
                      <thead>
                        <tr>
                          <th>Product Name</th>
                          <th>Quantity</th>
                          <th>Price</th>
                          <th>Measure Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat = "item in selectedProductsList">
                          <td>[[item.name]]</td>
                          <td>
                            <input type="number" class="form-control" required placeholder="enter quantity"  name="quantity_[[item.id]]"
                                     ng-class="{ 'has-error' : userForm.quantity_[[item.id]].$invalid && !userForm.quantity_[[item.id]].$pristine }"
                                   ng-model="item.quantity" ng-change="calculateQuantity()">
                          </td>
                          <td>
                            <input type="number" class="form-control" required name="price_[[ item.id]]" ng-change="calculatePrice()"
                                   ng-class="{ 'has-error' : userForm.price_[[ item.id]].$invalid && !userForm.price_[[ item.id]].$pristine }"
                                   placeholder="enter price"
                                   ng-model="item.price">
                          </td>
                          <th>[[item.item_cost_type]]</th>

                        </tr>
                         <tr>
                          <td>Total</td>
                          <td> Quantity: [[ total_quantity ]]</td>
                          <td>Price: [[ total_price ]]</td>

                        </tr>
                      </tbody>
                    </table>
                      </div>
                  </div><!-- /.box-body -->
                </div><!-- /.box -->
              </div><!-- /.col -->
            </div><!-- /.row -->
            <div class="row">
              <div class="col-xs-12">
                <div class="box">
                  <div class="box-body">
                    Amount Paid:
                          <input type="number" class="form-control" required
                           placeholder="enter amount paid"  name="amount_paid"
                           ng-class="{ 'has-error' : userForm.amount_paid.$invalid && !userForm.amount_paid.$pristine }"
                           ng-model="amount_paid">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
                <center>
                  <div class="row row-sides"> <!-- row start -->
                    <button type="submit" class="btn btn-primary btn-flat btn-on-app"
                            ng-disabled="userForm.$invalid">
                        Proceed
                    </button>
                  </div> <!-- row end -->
                </center>
            </div>
          </form>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
    <script>
      
    </script>      