<!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="row row-sides"> <!-- row start -->

            <div class="col-xs-12 col-lg-4">
              <div class="form-group">
                <label>start Date</label><br/>
                <input type="text" id="datepicker_sale_products_reports_1" ng-change="call_date_change()" class="form-control" placeholder="Start Date " ng-model="start_date" name="start_date">

              </div>
            </div>
            <div class="col-xs-12 col-lg-4">
              <div class="form-group">
                <label>End Date</label><br/>
                <input type="text" id="datepicker_sale_products_reports_2" ng-change="call_date_change()" class="form-control" placeholder="End Date " ng-model="end_date" name="end_date">

              </div>
            </div>
            <div class="col-xs-12 col-lg-4">
              <div class="form-group">
                <label>Select Farmer</label><br/>
                <select id="select_farmer"
                       ng-change="selected_farmer()"
                       class="form-control"
                        ng-model="selected_farmer_object"
                       ng-options="user.username for user in userslist"
                       name="select_farmer">
                </select>

              </div>
            </div>
        </div> <!-- row end -->
        <section class="content-header">
          <h1>
            Farmer Name :: [[ farmer_name]]

          </h1>
        </section>

        <section class="content-header">
          <h1>
            Total Due ::[[ farmer_due ]]

          </h1>
        </section>
        <section class="content-header">
          <h1>
            Debits
            <a href="#/download-farmer-reports/2" target="_blank">
              Download
            </a>
          </h1>
        </section>



        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-body">
                  <div class="table-responsive-own">
                  <table id="example1_modify_stock" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>date</th>
                        <th>particular or remarks</th>
                        <th>quantity</th>
                        <!--<th>rate/ton of harvester</th>-->
                        <th>value</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat = "farmer in specific_farmer_data">

                        <td>[[farmer.date | date]] </td>
                        <td>[[farmer.particulars_remarks]] </td>
                        <td> [[farmer.quantity]]</td>
                        <td> [[farmer.value]]</td>


                      </tr>
                    </tbody>
                  </table>



                  </div>



                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->


      <!--  <section class="content-header">
          <h1>
            Credits
            <a href="#/download-farmer-reports/1" target="_blank">
              Download
            </a>
          </h1>
        </section>-->



        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-body">
                  <div class="table-responsive-own">
                  <table id="example1_modify_stock1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>date</th>
                        <th>particular or remarks</th>
                        <th>value</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat = "farmer in all_farmers">

                        <td>[[farmer.date | date ]] </td>
                        <td>[[farmer.particulars_remarks]]</td>
                        <td> [[farmer.value]]</td>

                      </tr>
                    </tbody>
                  </table>



                  </div>
                  <!-- /.box-body -->


                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->

        <!--<section class="content-header">
          <h1>
            All Farmer Dues
            <a href="#/download-farmer-reports/3" target="_blank">
              Download
            </a>
          </h1>
        </section>
-->

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-body">
                  <div class="table-responsive-own">
                  <table id="example1_modify_stock2" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Farmer Name</th>
                        <th>Due</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat = "farmer in borrowers">

                        <td>[[farmer.name]] </td>
                        <td>[[farmer.due]]</td>
                      </tr>
                    </tbody>
                  </table>



                  </div>
                  <!-- /.box-body -->


                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->

      </div><!-- /.content-wrapper -->
    <script>
      $(function () {
        $('#example2_modify_stock').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
      $(function () {
        $('#example2_modify_stock1').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
      $(function () {
        $('#example2_modify_stock2').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
    </script>