<!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="row row-sides"> <!-- row start -->

            <div class="col-xs-12 col-lg-4">
              <div class="form-group">
                <label>start Date</label><br/>
                <input type="text" id="datepicker_sale_products_reports_1" ng-change="call_date_change()" class="form-control" placeholder="Start Date " ng-model="start_date" name="start_date">

              </div>
            </div>
            <div class="col-xs-12 col-lg-4">
              <div class="form-group">
                <label>End Date</label><br/>
                <input type="text" id="datepicker_sale_products_reports_2" ng-change="call_date_change()" class="form-control" placeholder="End Date " ng-model="end_date" name="end_date">

              </div>
            </div>
            <div class="col-xs-12 col-lg-4">
              <div class="form-group">
                <label>Select Harvester</label><br/>
                <select id="select_harvester"
                       ng-change="selected_harvester()"
                       class="form-control"
                        ng-model="selected_harvester_object"
                       ng-options="user.username for user in userslist"
                       name="select_harvester">
                </select>

              </div>
            </div>
        </div> <!-- row end -->
        <section class="content-header">
          <h1>
            Harvester Purchase Reports
            <a href="#/download-harvester-reports/1">
              Download
            </a>
          </h1>
        </section>



        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-body">
                  <div class="table-responsive-own">
                  <table id="example1_modify_stock" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>date</th>
                        <th>Harvester name</th>
                        <th>rate/ton of harvester</th>
                        <th>Total Quantity</th>
                        <th>Total Quality</th>
                        <th>Value</th>
                        <th>Advance</th>
                        <th>Due</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat = "harvester in specific_harvester_data">

                        <td>[[harvester.created_date | date]] </td>
                        <td>[[harvester.name]] </td>
                        <td> [[harvester.harvester_rate_per_ton]]</td>
                        <td> [[harvester.quantity]]</td>
                        <td> [[harvester.quality]]</td>
                        <td> [[harvester.main_payment]]</td>
                        <td> [[harvester.main_advance]]</td>
                        <td>[[(harvester.main_payment) - (harvester.main_advance)]]</td>


                      </tr>
                    </tbody>
                  </table>



                  </div>



                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->


        <section class="content-header">
          <h1>
           Credit Debit Harvesters
            <a href="#/download-harvester-reports/2">
              Download
            </a>
          </h1>
        </section>



        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-body">
                  <div class="table-responsive-own">
                  <table id="example1_modify_stock1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Harvester Name</th>
                        <th>Total Harvesting Value</th>
                        <th>Total Advance</th>
                        <th>Due</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat = "harvester in all_harvesters">

                        <td>[[harvester.name]] </td>
                        <td>[[harvester.total_payment]]</td>
                        <td> [[harvester.advance]]</td>
                        <td>[[harvester.due]]</td>
                      </tr>
                    </tbody>
                  </table>



                  </div>
                  <!-- /.box-body -->


                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->

        <section class="content-header">
          <h1>
            In Debit Harvesters
            <a href="#/download-harvester-reports/3">
              Download
            </a>
          </h1>
        </section>


        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-body">
                  <div class="table-responsive-own">
                  <table id="example1_modify_stock2" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Harvester Name</th>
                        <th>Due</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat = "harvester in borrowers">

                        <td>[[harvester.name]] </td>
                        <td>[[harvester.due]]</td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                  <!-- /.box-body -->
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
    <script>
      $(function () {
        $('#example2_modify_stock').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
    </script>