<!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="row row-sides"> <!-- row start -->

            <div class="col-xs-12 col-lg-4 col-lg-offset-2">
              <div class="form-group">
                <label>start Date</label><br/>
                <input type="text" id="datepicker_sale_products_reports_1" ng-change="call_date_change()" class="form-control" placeholder="Start Date " ng-model="start_date" name="start_date">

              </div>
            </div>
            <div class="col-xs-12 col-lg-4">
              <div class="form-group">
                <label>End Date</label><br/>
                <input type="text" id="datepicker_sale_products_reports_2" ng-change="call_date_change()" class="form-control" placeholder="End Date " ng-model="end_date" name="end_date">

              </div>
            </div>
            <!--<div class="col-xs-12 col-lg-4">
              <div class="form-group">
                <label>Select Harvester</label><br/>
                <select id="select_farmer"
                       ng-change="selected_farmer()"
                       class="form-control"
                        ng-model="selected_farmer_object"
                       ng-options="user.username for user in userslist"
                       name="select_farmer">
                </select>

              </div>
            </div>-->
        </div> <!-- row end -->

        <div class="row row-sides text-center">
          <div class="col-xs-3 col-lg-offset-4">

              <div >
                <!--<label>Select Stock Name</label><br/>
                <select id="select_farmer"
                       ng-change="selected_farmer()"
                       class="form-control"
                        ng-model="selected_stock_object"
                       ng-options="stock.id as stock.name for stock in stock_names"
                       name="select_farmer">
                </select>-->
                  <label >Select Harvester Name</label>
                  <div isteven-multi-select
                      input-model="userslist"
                      output-model="selected_farmer_object"
                      button-label="username"
                      on-item-click="selected_farmer()"
                      item-label="username"  selection-mode="single"
                      tick-property="ticked" class="input-drop">
                  </div>

              </div>
            </div>
        </div>

        <section class="content-header text-center">
          <h1>
            Harvester Name :: [[ farmer_name]] &nbsp;&nbsp;&nbsp;Total Due ::[[ farmer_due ]]

          </h1>
        </section>
         <section class="content-header">
          <h1>
            All Harvester Due
            <a href="#/download-harvester-reports/3" target="_blank">
              Download
            </a>
          </h1>
        </section>



        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-body">
                  <div class="table-responsive-own">
                  <table id="example1_modify_stock" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>date</th>
                        <th>particular or remarks</th>
                        <th>quantity</th>
                        <!--<th>rate/ton of harvester</th>-->
                        <th>value</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat = "farmer in specific_farmer_data">

                        <td>[[farmer.date | date]] </td>
                        <td>[[farmer.particulars_remarks]] </td>
                        <td> [[farmer.quantity]]</td>
                        <td> [[farmer.value]]</td>


                      </tr>
                    </tbody>
                  </table>



                  </div>



                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->


      <!--  <section class="content-header">
          <h1>
            Credit
            <a href="#/download-farmer-reports/2">
              Download
            </a>
          </h1>
        </section>
-->


        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-body">
                  <div class="table-responsive-own">
                  <table id="example1_modify_stock1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>date</th>
                        <th>particular or remarks</th>
                        <th>value</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat = "farmer in all_farmers">

                        <td>[[farmer.date | date ]] </td>
                        <td>[[farmer.particulars_remarks]]</td>
                        <td> [[farmer.value]]</td>

                      </tr>
                    </tbody>
                  </table>



                  </div>
                  <!-- /.box-body -->


                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->



        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-body">
                  <div class="table-responsive-own">
                  <table id="example1_modify_stock2" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Farmer Name</th>
                        <th>Due</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat = "farmer in borrowers">

                        <td>[[farmer.name]] </td>
                        <td>[[farmer.due]]</td>
                      </tr>
                    </tbody>
                  </table>



                  </div>
                  <!-- /.box-body -->


                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->

      </div><!-- /.content-wrapper -->
