
<link rel="stylesheet" href="/static/css/print-bill.css">
  <div class="content-wrapper" style="min-height: 946px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>

      </h1>
    </section>

    <!-- Main content -->
    <section class="content" >
      <div class="row">
        <!-- left column -->
        <div class="col-md-12" id="printing_space">
          <!-- general form elements -->
          <div class="box box-danger box-top-border">
            <div class="box-body box-body-print">
              <!-- start print bill start -->



              <div class="row">
                <div class="col-lg-6 text-left">
                  <h5 class="no">Bill No: <b>[[ bill_info.bill_id ]]</b></h5>

                </div>






                <div class="col-lg-6 text-right">
                  Date : <input type="text" class="date-item" value="[[ bill_info.bill_date |date ]]" ng-model="bill_info.bill_date"/>
                </div>
              </div>

              <div class="row" style="margin-bottom:10px;">
                <div class="col-lg-12">
                  Sri <input type="text" value="[[ bill_info.customer_name ]]" ng-model="bill_info.customer_name" class="name-item" />
                </div>
              </div>



              <div class="row">
                <div class="col-lg-12">
                  <div class="table-responsive-own">
                  <table class="table table-bordered table-responsive-own table-pad">
                <tbody>
                <tr>
                  <th class="text-center" style="width:50px">S No.</th>
                  <th class="text-center" style="width:250px">
                    <p>PARTICULARS.</p>
                  </th>
                  <!--<th class="text-center" style="width:50px">Stock Type.</th>-->

                  <th class="text-center">Qty.</th>
                  <th class="text-center">Rate Per Kg</th>
                  <th class="text-center">Total Rate</th>
                </tr>

                <tr ng-repeat="product in bill_info.p_details" class="table-td">
                  <td><input type="text" value="[[ $index+1 ]]" class="enter-text" /></td>
                  <td><input type="text" value="[[ product.product_name ]]" ng-model="product.product_name" class="enter-text" /></p></td>
                  <!--<td><input type="text" value="[[ product.product_type ]]" ng-model="product.product_type" class="enter-text" /></td>-->
                  <td><input type="text" value="[[ product.total_quantity ]]" ng-model="product.total_quantity" class="enter-text" /></td>
                  <td><input type="text" value="[[ product.kgrate ]]" ng-model="product.kgrate" class="enter-text" /></td>
                  <td><input type="text" value="[[ product.total_price ]]" ng-model="product.total_price"  class="enter-text" /></td>
                </tr>
                <tr class="table-space-first">
                  <td></td>
                  <td></td>
                  <!--<td></td>-->
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="table-space">
                  <td></td>
                  <td></td>
                  <!--<td></td>-->
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="table-space">
                  <td></td>
                  <td></td>
                  <!--<td></td>-->
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr style="border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;">
                  <td><input type="text" class="enter-text" /></td>
                  <td>
                    <p><center><b style="font-size:15px;">Total</b> Including vat [[bill_info.vat_percentage]] %([[ bill_info.vat_money ]] rupees) </center></p>
                  </td>
                  <td>
                    <b style="font-size:15px;">
                    <input type="text"
                           value="[[ bill_info.total_quantity ]]"
                           ng-model="bill_info.total_quantity"
                           class="enter-text" /></b>
                  </td>
                  <td></td>


                  <td>

                    <b style="font-size:15px;">
                    <input type="text" value="[[ bill_info.total_price ]]" ng-model="bill_info.total_price" class="enter-text" /></b></td>
                </tr>

              </tbody></table>
                    </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 text-left">
                    <h5 class="no">Contact Number: <b>
                      [[ bill_info.contact_number ]]
                    </b>
                    </h5>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 text-left">
                    <h5 class="no">Vehicle Number: <b>[[ bill_info.contact_number ]]</b></h5>
                </div>
              </div>



              <div class="row">
                <div class="col-lg-6 text-left">
                    <h5 class="no">Remarks: <b>[[ bill_info.contact_number ]]</b></h5>
                </div>
              </div>





              <!-- start print bill end -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (left) -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>

