  <style type="text/css">
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{
  border: none;

}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
  border: none;

}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
  border: none;
    border-left: 1px solid #ddd;
}
  </style>
  <div class="content-wrapper" style="min-height: 946px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Print Bill
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-danger box-top-border">
            <div class="box-body">
              <!-- start print bill start -->
              <div class="row">
                <div class="col-lg-4 text-left">
                  <h5>TIN No : 36292158448</h5>
                  <h5>PL No : 20/2015</h5>
                  <h5>SL No : RRD/21/JDA/2015/3714</h5>
                  <h5>FL No : RRD/21/ADA/2015/16502</h5>
                </div>
                <div class="col-lg-4 text-center">
                  <h5><b>subject to vikarabad jurisdiction</b></h5>
                  <p class="btn btn-bill">CASH BILL</p>
                </div>
                <div class="col-lg-4 text-right">
                  <h5>Cell : 9705163311</h5>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 text-center">
                  <h3><b>RAYTHU MITHRA FERTILIZERS</b></h3>
                  <h4>PESTICIDES & SEEDS</h4>
                  <h5>Shop No. 4-326, Vill, Thoramamidi, Mdl, Bantwaram, R.R. Dist. - 501142.</h5>
                  <h4><b>రైతు మిత్ర ఫర్టిలైజర్స్  </b> - <span>తొరమామిడి </span></h4>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 text-left">
                  <h5 class="no">No.</h5><h3 class="no no-h3"><b>798</b></h3>
                </div>

                <div class="col-lg-6 text-right">
                  Date : <input type="text" class="date-item" />
                </div>
              </div>

              <div class="row" style="margin-bottom:10px;">
                <div class="col-lg-12">
                  Sri <input type="text" class="name-item" />
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <div class="table-responsive-own">
                  <table class="table table-bordered table-responsive-own">
                <tbody><tr>
                  <th class="text-center" style="width: 60px;">S No.</th>
                  <th class="text-center" style="width: 450px;">PARTICULARS</th>
                  <th class="text-center">Bt. No.</th>
                  <th class="text-center">Qty.</th>
                  <th class="text-center">Rate.</th>
                  <th><span>Rs.</span>  <span class="pull-right">Ps.</span></th>
                </tr>
                <tr>
                  <td><input type="text" class="enter-text" /></td>
                  <td><input type="text" class="enter-text" /></td>
                  <td><input type="text" class="enter-text" /></td>
                  <td><input type="text" class="enter-text" /></td>
                  <td><input type="text" class="enter-text" /></td>
                  <td><input type="text" class="enter-text" /></td>
                </tr>

                <tr>
                  <td><input type="text" class="enter-text" /></td>
                  <td><input type="text" class="enter-text" /></td>
                  <td><input type="text" class="enter-text" /></td>
                  <td><input type="text" class="enter-text" /></td>
                  <td><input type="text" class="enter-text" /></td>
                  <td><input type="text" class="enter-text" /></td>
                </tr>

                <tr>
                  <td><input type="text" class="enter-text" /></td>
                  <td><input type="text" class="enter-text" /></td>
                  <td><input type="text" class="enter-text" /></td>
                  <td><input type="text" class="enter-text" /></td>
                  <td><input type="text" class="enter-text" /></td>
                  <td><input type="text" class="enter-text" /></td>
                </tr>

                <tr>
                  <td><input type="text" class="enter-text" /></td>
                  <td>
                  <img width="50" height="50" src="/static/images/poison.jpg" alt="">
                    <span>రైతు సంతకం </span>
                  </td>
                  <td><input type="text" class="enter-text" /></td>
                  <td><input type="text" class="enter-text" /></td>
                  <td><input type="text" class="enter-text" /></td>
                  <td><input type="text" class="enter-text" /></td>
                </tr>



              </tbody></table>
                    </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-10">
                  <h5>ఇది విషము అని నాకు తెలియును, వ్యవసాయ అవసర</h5>
                  <h5><b>నిమిత్తమే కొనుగోలు తేయడమైనది </b></h5>
                  <h5>Goods once sold will not be taken back.</h5>
                </div>
                <div class="col-lg-2 text-right">
                  <input type="text" class="Signature text-right"/>
                  <h5>Signature</h5>
                </div>
              </div>

              <!-- start print bill end -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (left) -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>

