<!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="row row-sides"> <!-- row start -->

            <div class="col-xs-12 col-lg-4">
              <div class="form-group">
                <label>start Date</label><br/>
                <input type="text" id="datepicker_sale_products_reports_1" ng-change="call_date_change()" class="form-control" placeholder="Start Date " ng-model="start_date" name="start_date">

              </div>
            </div>
            <div class="col-xs-12 col-lg-4">
              <div class="form-group">
                <label>End Date</label><br/>
                <input type="text" id="datepicker_sale_products_reports_2" ng-change="call_date_change()" class="form-control" placeholder="End Date " ng-model="end_date" name="end_date">

              </div>
            </div>

              <div class="col-xs-12 col-lg-4">
              <div class="form-group">
                <label>Select Stock Name</label><br/>
                <select id="select_farmer"
                       ng-change="selected_farmer()"
                       class="form-control"
                        ng-model="selected_stock_object"
                       ng-options="stock.id as stock.name for stock in stock_names"
                       name="select_farmer">
                </select>

              </div>
            </div>
        </div> <!-- row end -->
         <section class="content-header">
          <h1>
            Total Quantity: [[ sum_of_quantity]]<br/>
            Total Price: [[ sum_of_price ]]


          </h1>
        </section>
        <section class="content-header">
          <h1>
            Each Product Sale Report

            <a href="#/download-product-sale-reports/1" target="_blank">Download</a>
          </h1>
        </section>



        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-body">
                  <div class="table-responsive-own">
                  <table id="example1_modify_stock" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <!--<th>bill date</th>-->
                        <th>customer name</th>
                        <!--<th>Stock name</th>-->
                        <th>Sold Quantity</th>
                        <th>Sold Price</th>


                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat = "stock in stock_data">
                        <td>[[stock.customer_name]] </td>
                        <!--<td>[[stock.name]] </td>-->
                        <td> [[stock.weight]]</td>
                        <td>[[stock.value]]</td>


                      </tr>
                    </tbody>
                  </table>



                  </div>



                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->



      </div><!-- /.content-wrapper -->
    <script>
      $(function () {
        $('#example2_modify_stock').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
    </script>