<style type="text/css">
.sorry-p {
  text-align: center;margin-top: 0px;
}
.sorry-p span {
  font-size: 22px;
}
.sorry-image {
  width: 40px;
  margin-top: -12px;
}
.content-wrapper, .right-side, .main-footer{
  margin: 0px !important;
}

.sidebar-toggle{
  display: none;
}

.reward-coin{
    width: 15px;
    margin-top: -3px;
}
</style>

<div class="content-wrapper" style="min-height: 1096px;">
        <!-- Main content -->
        <section class="content">

          <div class="row">
            <div class="col-md-3">

              <!-- Profile Image -->
              <div class="box box-primary">
                <div class="box-body box-profile">
                  <img class="profile-user-img img-responsive img-circle" src="/static/images/avatar.jpg" alt="User profile picture">
                  <h3 class="profile-username text-center">{{user_details.fullname}}</h3>
                </div><!-- /.box-body -->

                <div class="box-header with-border">
                  <h3 class="box-title">About Me</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <strong><i class="fa fa-book margin-r-5"></i>  Full Name</strong>
                  <p class="text-muted">
                    {{user_details.fullname}}
                  </p>

                  <hr>

                  <strong><i class="fa fa-envelope margin-r-5"></i>  Email</strong>
                  <p class="text-muted">
                    {{user_details.email}}
                  </p>
                  <hr>

                  <strong><i class="fa fa-mobile margin-r-5"></i> Contact Number</strong>
                  <p> {{user_details.phone}}</p>
                  <hr>
                  <strong><img src="/static/images/reward-coin.png" class="reward-coin"> Total Stamps</strong>: <span>{{user_details.currentstamp}}</span>
                  
                  <hr>
                  <strong><img src="/static/images/reward-coin.png" class="reward-coin"> Current Stamps</strong> : <span>{{user_details.totalstamp}}</span>
                  
                </div><!-- /.box-body -->
              </div><!-- /.box -->

            </div><!-- /.col -->
            <div class="col-md-9">
              <div class="nav-tabs-custom">
                <div class="tab-content" ng-repeat = "store in storesdata">
                  <div class="active tab-pane" id="activity">
                    <!-- Post -->
                    <div class="post">                    
                      <div class="user-block">
                        <style type="text/css">
                        .user-block .username, .user-block .description, .user-block .comment {
                            margin-left: 0px;
                          }
                        </style>
                        
                        <span class="username">
                          <a ng-click="viewOffers(store.storeid)">{{store.storename}}</a>
                        </span>
                        <span class="description">Email - {{store.email}}</span>
                        <span class="description">Phone - {{store.phone}}</span>
                      </div><!-- /.user-block -->
                      <p>
                        Lorem ipsum represents a long-held tradition for designers,
                        typographers and the like. Some people hate it and argue for
                        its demise, but others ignore the hate as they create awesome
                        tools to help create filler text for everyone from bacon lovers
                        to Charlie Sheen fans.
                      </p>
                      
                    </div><!-- /.post -->
                  </div><!-- /.tab-pane -->
                  <hr>
                </div><!-- /.tab-content -->
              </div><!-- /.nav-tabs-custom -->
            </div><!-- /.col -->
          </div><!-- /.row -->

        </section><!-- /.content -->
      </div>


      <!-- Modal start-->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Stamp offers to redeem</h4>
              </div>
              <div class="modal-body">
                <h4 class="box-title">Loyalty card name :</h4>

                <div class="row">
                  <!-- first row start -->
                  <div class="col-lg-6">
                    <p> {{loyalty_card_number}}</p>
                    <p>Max stamp: {{max_stamp}}</p>
                  </div>

                </div><!-- row end -->
                <h4 class="box-title">Stamp offers :</h4>
                <div class="row">
                  <!-- second row start -->
                  <div class="col-lg-12">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                          <th>Stamp offer id</th>
                          <th>Stamp count</th>
                          <th>Offer description</th>
                        </tr>
                        <tr ng-repeat="stamp in offerslist">
                          <td>{{stamp.stampid}}</td>
                          <td>{{stamp.stampcount}}</td>
                          <td>{{stamp.desc}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div><!-- second row end -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div>
          </div>
        </div>
        <!-- Modal end-->           




        <!-- Modal start-->
        <div id="NoOffersModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row">
                  <!-- first row start -->
                  <div class="col-lg-12">

                    <p class="sorry-p">
                    <span>No Active offers available.... </span>
                    <img class="sorry-image" src="/static/images/sadface.png"></p>
                  </div>
                </div><!-- row end -->
              </div>
            </div>
          </div>
        </div>
        <!-- Modal end-->           
