<title>User History</title>
<input type="hidden" id="store_id" ng-model="st_id">
<div class="content-wrapper" style="min-height: 916px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        User History
        <small>Marchant panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">User History</li>
      </ol>
    </section>



<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Stamp Added</th>
              <th>Added At</th>
              <th>Stamp redeemed</th>
              <th>Description</th>
              <th>Redeemed At</th>
              <th>Balance Stamp</th>
            </tr>
          </thead>
          <tbody>
  <tr ng-repeat="history in historyy | orderBy:'-pk'">
    <td>{{history.fields.get_new_stamps}} </td>
    <td>{{history.fields.get_new_stamps_date}}</td>
    <td>{{history.fields.no_of_stamps_reedeemed}}</td>

    <td>{{history.fields.reddemed_stamps_description}}</td>
    <td>{{history.fields.reedeem_date}}</td>
    <td>{{history.fields.currentStamp}}</td>
  
          </tr>
        </tbody>
      </table>
    </div><!-- /.box-body -->
  </div><!-- /.box -->
</div><!-- /.col -->
</div><!-- /.row -->