
<title>Customer list</title>
<input type="hidden" id="store_id" ng-model="st_id">
<div class="content-wrapper" style="min-height: 916px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Customer list
        <small>Marchant panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Customer list</li>
      </ol>
    </section>


    <section class="content">
      <!-- info boxes (Stat box) -->

        <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-body">
                  <table id="exeam" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Customer id</th>
                        <th>Customer number</th>
                  
                        <th >Action</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr ng-repeat="card in userlist | orderBy:'-pk'">
                        <td>{{card.pk}}</td>
                        <td>{{card.fields.mobile}}</td>
                       
                        <td>
                          <div class="row">

                            <div class="col-lg-4">
                              <button class="btn btn-block btn-primary btn-flat" ng-click='view_stamp_detail(card.fields.mobile)'>View detail</button>
                            </div>
                            <div class="col-lg-4">
                              <button class="btn btn-block btn-danger btn-flat" ng-click="add_stamps(card.fields.mobile)">Add Stamps</button>
                            </div>

                            <div class="col-lg-4">
                              <button class="btn btn-block btn-danger btn-flat" ng-click="history(card.fields.mobile)">History</button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
       
  </section>
    <!-- /.content -->
</div>

