
<title>View Bill vs Stamps</title>
<input type="hidden" id="store_id" ng-model="st_id">
<div class="content-wrapper" style="min-height: 916px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        View Bill vs Stamps
        <small>Marchant panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">View Bill vs Stamps</li>
      </ol>
    </section>


    <section class="content">
      <!-- info boxes (Stat box) -->

        <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Amount</th>
                        <th>No. of stamps</th>
                        <th>Status</th>
                        <th colspan="4" align="center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="bill in bill_vs_stamp_list">
                        <td>{{bill.fields.bill_amount}}</td>
                        <td>
                          {{bill.fields.no_of_stamps}}</td>
                       
                        
                      
                        <td ng-if="bill.fields.is_active==false"> <span style="color:red">Inactive</td>
                        <td ng-if="bill.fields.is_active==true"> <span style="color:green">Active</span></td>
                        <td>
                          <div class="row">
                            <div class="col-lg-4">
                              <button class="btn btn-block btn-primary btn-flat" ng-click='change_status(bill.pk)'>Change Status</button>
                            </div>
                            <div class="col-lg-4">
                              <button class="btn btn-block btn-danger btn-flat" ng-click="remove_bill_vs_stamp(bill.pk)">Remove</button>
                            </div>
                        </td>
                          
                      </tr>
                    </tbody>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
       
  </section>
    <!-- /.content -->
</div>

